
    <section>
        <div class="gbs-video-home position-relative">
            <div class="video-home position-relative">
                <%= image_tag("about-banner.jpg", alt: "") %>
            </div>
            <div class="banner-content inner-banner-content text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-caption">
                                <div class="page-heading">
                                    <h2>Why GBS Public School</h2>
                                </div>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb custom-breadcrumb bg-transparent d-flex m-0 p-0 justify-content-center">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="gbs-top-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 col-md-8">
                        <div class="about-text">
                            <div class="gbs-video">
                                <iframe src="https://www.youtube.com/embed/m_u-Pc39RWQ">
                                </iframe>
                            </div>

                            <blockquote>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi molestiae necessitatibus cupiditate fuga adipisci molestias quos veniam cum quo non provident, aliquid voluptatum eos distinctio facilis soluta quia minus porro?
                            </blockquote>

                            <ul>
                                <li class="text-block">
                                    <h4>To be the best she can be</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui dignissimos odit quas beatae omnis nam illo dolores delectus, quia, harum perspiciatis saepe blanditiis quo atque illum, aliquid natus recusandae quos!</p>
                                </li>


                                <li class="text-block">
                                    <h4>Small school with large school opportunities</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui dignissimos odit quas beatae omnis nam illo dolores delectus, quia, harum perspiciatis saepe blanditiis quo atque illum, aliquid natus recusandae quos!</p>
                                </li>


                                <li class="text-block">
                                    <h4>International Sacred Heart School</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui dignissimos odit quas beatae omnis nam illo dolores delectus, quia, harum perspiciatis saepe blanditiis quo atque illum, aliquid natus recusandae quos!</p>
                                </li>


                                <li class="text-block">
                                    <h4>Boarding</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui dignissimos odit quas beatae omnis nam illo dolores delectus, quia, harum perspiciatis saepe blanditiis quo atque illum, aliquid natus recusandae quos!</p>
                                </li>

                                <li class="text-block">
                                    <h4>Opportunities to achieve</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui dignissimos odit quas beatae omnis nam illo dolores delectus, quia, harum perspiciatis saepe blanditiis quo atque illum, aliquid natus recusandae quos!</p>
                                </li>

                                <li class="text-block">
                                    <h4>Success for every girl</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui dignissimos odit quas beatae omnis nam illo dolores delectus, quia, harum perspiciatis saepe blanditiis quo atque illum, aliquid natus recusandae quos!</p>
                                </li>

                                <li class="text-block">
                                    <h4>Transforming her world</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui dignissimos odit quas beatae omnis nam illo dolores delectus, quia, harum perspiciatis saepe blanditiis quo atque illum, aliquid natus recusandae quos!</p>
                                </li>

                                <li class="text-block last">
                                    <h4>Small school with large school opportunities</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui dignissimos odit quas beatae omnis nam illo dolores delectus, quia, harum perspiciatis saepe blanditiis quo atque illum, aliquid natus recusandae quos!</p>
                                </li>
                            </ul>

                            <div class="take-a-school-tour">
                                <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill ml-1 mr-1">Take a tour</a>
                            </div>


                        </div>
                    </div>

                    <aside class="col-xl-3 col-lg-4 col-md-4">
                        <div class="sticky-top">
                            <div class="quick-navs">
                                <ul>
                                    <li><a href="#">Principal's Welcome</a></li>
                                    <li class="active"><a href="#">Why GBS?</a></li>
                                    <li><a href="#">Our Philosophy</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">Location & Facilities</a></li>
                                    <li><a href="#">Leadership Team</a></li>
                                    <li><a href="#">School Policies</a></li>
                                    <li><a href="#">Video Gallery</a></li>
                                </ul>
                            </div>
                        </div>

                    </aside>
                    <!-- @end side navs -->
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="tour-categories section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="enrol-now tour-box position-relative">
                            <div class="tour-image default-overlay">
                                <%= image_tag("enroll-now.jpg", alt: "") %>
                            </div>
                            <div class="tour-text">
                                <div class="tour text-center">
                                    <h3>Enrol Now</h3>
                                    <p>Learn everything you need to know about enrolling your daughter.</p>
                                    <div class="enrol-action">
                                        <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Enrolment Process</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- @end enrol -->


                    <div class="col-md-6">
                        <div class="book-your-tour tour-box position-relative">
                            <div class="tour-image default-overlay">
                                <%= image_tag("take-tour.jpg", alt: "") %>
                            </div>
                            <div class="tour-text">
                                <div class="tour text-center">
                                    <h3>Book a Tour</h3>
                                    <p>Learn everything you need to know about enrolling your daughter.</p>
                                    <div class="enrol-action">
                                        <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Register Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- @end enrol -->


                </div>
            </div>
        </div>
    </section>