
<section>
    <div class="gbs-video-home position-relative">
        <div class="video-home position-relative">
            <%= image_tag("about-banner.jpg", alt: "") %>
        </div>
        <div class="banner-content inner-banner-content text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="banner-caption">
                            <div class="page-heading">
                                <h2>Principal’s Welcome</h2>
                            </div>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb custom-breadcrumb bg-transparent d-flex m-0 p-0 justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Principal’s Welcome</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="gbs-top-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-8">
                    <div class="about-text">
                        <div class="gbs-video">
                            <iframe src="https://www.youtube.com/embed/ftaByhkyZOc">
                            </iframe>
                        </div>

                        <blockquote>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi molestiae necessitatibus cupiditate fuga adipisci molestias quos veniam cum quo non provident, aliquid voluptatum eos distinctio facilis soluta quia minus porro?
                        </blockquote>

                        <p>I have led Stuartholme School as the Principal since the beginning of 2016 and discovered a vibrant and compassionate community that encompasses the values of faith, learning, community, social justice and personal growth that
                        empowers young women to lead.</p>

                        <p>I have learnt that Stuartholme is a school that lives by its mantra – for each girl to be the best she can be. Its meaning is derived from the way each student is treated by her teachers and peers, as an individual person with
                            strengths, passions, fears and hindrances. The way we teach, adapting to each student’s learning style, is aimed at providing the best educational outcome for each girl. We pride ourselves on supporting, extending and challenging
                        our students to optimise pathways for their future learning.</p>

                        <p>For the students – it’s the ‘norm’ at Stuartholme to try your best, to give it a go, to strive. However, this is not the same for all adolescent girls in Australia. Australian research shows many teenage girls opt out, hang
                            back or make excuses. Stuartholme students are on the front foot and leaning in. They are developing and sharing their gifts. They make mistakes and learn from them, in the safest environment we can provide. These girls
                        are confident decision makers, global thinkers and innovators.</p>

                        <p>Our stunning yet compact grounds and small student population ensure each girl is not ‘lost in the crowd’. With less than 700 students, the School prides itself on being small enough for each student to be personally known,
                        yet large enough to offer an extensive, ever-changing and dynamic range of opportunities.</p>

                        <p>As Brisbane’s only Catholic girls’ boarding school, Stuartholme’s boarding community remains at the heart of the School. 150 girls live at Stuartholme and every interaction I experience is friendly and open-hearted. It is delightful
                        to share this space with such joyful young souls.</p>

                        <p>The spiritual life of the School and our Student Wellbeing Program work together to ensure the holistic development of our girls. In the words of one of our Sisters, Mother Janet Erskine Stuart, a “Sacred Heart education is
                        not meant to turn the children out small and finished but seriously begun on a wide basis. They must leave us with self-knowledge, energy, and purpose.”</p>

                        <p>I encourage you to learn more about Stuartholme School. Explore our website, visit us for an Action Tour and join us for our annual Open Day for the opportunity to meet our expert staff and talk with our students and Alumnae.
                        Our community is a true testament of what a Stuartholme School education can provide.</p>


                        <div class="school-principal-signature">
                            <h6>Dr. B. M. Rathore</h6>
                            <small>Principal</small>
                        </div>

                        <div class="take-a-school-tour">
                            <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill ml-1 mr-1">Take a tour</a>

                            <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill ml-1 mr-1">Request A Prospectus</a>
                        </div>


                    </div>
                </div>

                <aside class="col-xl-3 col-lg-4 col-md-4">
                    <div class="sticky-top">
                        <div class="quick-navs">
                            <ul>
                                <li class="active"><a href="#">Principal's Welcome</a></li>
                                <li><a href="#">Why GBS?</a></li>
                                <li><a href="#">Our Philosophy</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Location & Facilities</a></li>
                                <li><a href="#">Leadership Team</a></li>
                                <li><a href="#">School Policies</a></li>
                                <li><a href="#">Video Gallery</a></li>
                            </ul>
                        </div>
                    </div>

                </aside>
                <!-- @end side navs -->
            </div>
        </div>
    </div>
</section>


<section>
    <div class="tour-categories section-padding">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="enrol-now tour-box position-relative">
                        <div class="tour-image default-overlay">
                            <%= image_tag("enroll-now.jpg", alt: "") %>
                        </div>
                        <div class="tour-text">
                            <div class="tour text-center">
                                <h3>Enrol Now</h3>
                                <p>Learn everything you need to know about enrolling your daughter.</p>
                                <div class="enrol-action">
                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Enrolment Process</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- @end enrol -->


                <div class="col-md-6">
                    <div class="book-your-tour tour-box position-relative">
                        <div class="tour-image default-overlay">
                            <%= image_tag("take-tour.jpg", alt: "") %>
                        </div>
                        <div class="tour-text">
                            <div class="tour text-center">
                                <h3>Book a Tour</h3>
                                <p>Learn everything you need to know about enrolling your daughter.</p>
                                <div class="enrol-action">
                                    <a href="#" class="default-btn btn-green-color smooth text-uppercase rounded-pill">Register Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- @end enrol -->


            </div>
        </div>
    </div>
</section>
