<footer>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="footer-widget">
          <div class="footer-title">
            <h4>ABOUT US</h4>
          </div>
          <div class="footer-about">
            <p>Ugiat nulla pariatur. Edeserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natu Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
          <div class="follow-jantaschool">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <!-- @end about -->

      <div class="col-lg-2 col-md-3">
        <div class="footer-widget">
          <div class="footer-title">
            <h4>Quick Links</h4>
          </div>
          <div class="footer-list">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Courses</a></li>
              <li><a href="#">Admission</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- @end about -->

      <div class="col-lg-2 col-md-3">
        <div class="footer-widget">
          <div class="footer-title">
            <h4>Other Links</h4>
          </div>
          <div class="footer-list">
            <ul>
              <li><a href="#">Fees And Payments</a></li>
              <li><a href="#">Publications</a></li>
              <li><a href="#">Find Us</a></li>
              <li><a href="#">Give</a></li>
              <li><a href="#">Enrolment Process</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- @end about -->

      <div class="col-lg-4">
        <div class="footer-widget">
          <div class="footer-title">
            <h4>Contact Us</h4>
          </div>
          <address class="contact-info">
            <div class="single-f-contact-info">
              <i class="fa fa-home"></i>
              <span>365 Birdwood Terrace, Toowong, Queensland 4066, Australia.</span>
            </div>
            <div class="single-f-contact-info">
              <i class="fa fa-envelope-o"></i>
              <span><a href="mailto:jantaschool@gmail.com">jantaschool@gmail.com</a></span>
            </div>
            <div class="single-f-contact-info">
              <i class="fa fa-phone"></i>
              <span><a href="tel:+917973496364">+91 79734-96364</a></span>
            </div>
            <div class="single-f-contact-info">
              <i class="fa fa-fax"></i>
              <span><a href="#">+91 73369 4028</a></span>
            </div>
          </address>
        </div>
      </div>
      <!-- @end about -->

    </div>
  </div>

  <div class="copyright text-center">
    <div class="col-md-12">
      Copyright &copy; GBS Public School . All Right Reserved. 
    </div>
  </div>

</footer>
