
<header>
  <div class="header-bottom sticky-bar blue-header clearfix">
    <div class="container-fluid">
      <div class="row align-items-center">

        <div class="col-lg-2 col-md-6 col-4">
          <div class="gbs-logo">
            <a href="index.html"><%= image_tag("white-logo.png", alt: "") %></a>
          </div>
        </div>
        <!-- @logo end -->

        <div class="col-lg-10 col-md-6 col-8">
          <div class="menu-cart-wrap">
            <div class="main-menu meanmenu position-relative">
              <a href="#" class="meanmenu-reveal"><span></span><span></span><span></span></a>
              <nav id="mobile-menu-active">
                <ul>

                  <li><a href="about-us.html">Our School</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><a href="course.html">Principal’s Welcome</a></li>
                      <li><a href="event.html">Why GBS?</a></li>
                      <li><a href="shop.html">Our Philosophy</a></li>
                      <li><a href="course-details.html">History</a></li>
                      <li><a href="event-details.html">Location &amp; Facilities</a></li>
                      <li><a href="cart.html">Leadership Team</a></li>
                      <li><a href="wishlist.html">School Policies</a></li>
                      <li><a href="login-register.html">Video Gallery</a></li>
                    </ul>
                  </li>

                  <li><a href="about-us.html">Beyond The Classroom</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><a href="course.html">Sport</a></li>
                      <li><a href="course.html">Curriculum</a></li>
                      <li><a href="course.html">Arts</a></li>
                      <li><a href="course.html">Exchange Program</a></li>
                      <li><a href="course.html">Study Tours</a></li>

                    </ul>
                  </li>

                  <li><a href="about-us.html">Enroll</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><a href="course.html">Indoor Games</a></li>
                      <li><a href="course.html">Outdoor Games</a></li>
                    </ul>
                  </li>

                  <li><a href="about-us.html">Learning</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><a href="course.html">Curriculum Framework</a></li>
                      <li><a href="course.html">Vocational Education</a></li>
                      <li><a href="course.html">Careers Program</a></li>
                      <li><a href="course.html">Academic Enrichment & Extension</a></li>
                    </ul>
                  </li>

                  <li><a href="about-us.html">Our Community</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><a href="course.html">Past Student</a></li>
                      <li><a href="course.html">Give</a></li>
                      <li><a href="course.html">Foundation</a></li>
                      <li><a href="course.html">Partners</a></li>
                      <li><a href="course.html">Pay Online</a></li>
                      <li><a href="course.html">Bus Network</a></li>
                    </ul>
                  </li>

                  <li><a href="about-us.html">News & Events</a>
                    <i class="fa fa-angle-down more closed"></i>
                    <ul class="submenu">
                      <li><a href="course.html">Upcoming Events</a></li>
                      <li><a href="course.html">News</a></li>
                    </ul>
                  </li>
                  <li><a href="about-us.html">Career</a></li>
                  <li><a href="about-us.html">Contact Us</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>